.body {
    font-family: "Raleway", sans-serif;
  }
  
.Hero-Section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

.portafolio .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
.navbar-brand{
      width: 100px;
    }
